<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>privateKey</key>
	<string>e30eb4fd2bcade522ae467b91f20d9d8602d47ce </string>
	<key>publicKey</key>
	<string>f5f3a3f471bb6ad75818d41835590f36</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
